<section class="categories">
  <div class="main-content">
    <h2 class="categories-title">
      Popular Categories <span>😋</span>
    </h2>
    <div class="categories-grid">
      {{#each categories}}
        <div class="category-card">
          <img src="{{this.image}}" alt="{{this.name}}" />
          <div class="category-info">
            <h3>{{this.name}}</h3>
            <p>{{this.count}} Restaurants</p>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</section>